body{
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100vh;
}

header{
 flex-direction: row;
 order: 0;
}

header img{
  align-items: flex-start;
  max-height: 500px;
  margin: 5px;
  border: 1px solid black;
  transition: all 3s ease 0.5s;
}

footer{
  margin-top: 100%;
}

main{
  margin-bottom: 500px;
}



@media all and (max-width: 600px){
  header img{
    max-width: 350px;
  }

  body{
    overflow:hidden;
  }
}

img:hover{
  
  max-height: 800px;
  align-items:center;
}
