:root{
    --fontSize: 1.25em;
    --fontSizeHeading: calc(var(--fontSize) * 3 );
}

body{
    font-size: var(--fontSize);
}

h1{
    font-size: var(--FontSizeHeading);
}

h1:hover{
    font-size: calc(var(--fontSize) * 3);
    transition: all 3s;
}