@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Lora&family=Pacifico&display=swap');

#header-wrapper {
    display: table;
}

header{
  padding: 60px;
  text-align: right;
  background: rgb(252, 151, 206);
  color: white;
  font-size: 30px;
}

body{
  background: rgb(252, 183, 126);
  font-family: Arial, Helvetica, sans-serif;
}

.logo {
    display: table-cell;
    float: left;
}

footer{
  padding: 60px;
  text-align: center;
  background: rgb(252, 151, 206);
  color: white;
  font-size: 30px;
}

footer ul{
  list-style-type: none;
}

.main-nav ul{
  list-style-type: none;
  width: auto;
  overflow: hidden;
  background-color: #ffb6c1;
  display: flex;
  padding:0px;
  margin-top:0px;
}
.main-nav li{
  border-right:1px solid black;
  width:100%;
}
.main-nav a{
  display: block;
  color: #659BDF;
  text-align: center;
  padding:14px 16px;
  text-decoration: none;
}
.slideshow {
    font-family: Arial, Helvetica, sans-serif;
    width: 400px;
    height: 300px;
    margin: 0 auto;
    padding: 20px;
    color: navy;
}
#slides img {
	display: none;
}
